[submodule "lottery-by-name"]
	path = lottery-by-name
	url = https://github.com/chenjinya/lottery-by-name.git
[submodule "television-color"]
	path = television-color
	url = https://github.com/chenjinya/television-color.git
[submodule "baidukill"]
	path = baidukill
	url = https://github.com/chenjinya/baidukill
[submodule "matrix"]
	path = matrix
	url = https://github.com/chenjinya/matrix.git
[submodule "wumai"]
	path = wumai
	url = https://github.com/chenjinya/wumai.git
[submodule "tocao"]
	path = tocao
	url = https://github.com/chenjinya/tocao.git
[submodule "shengun"]
	path = shengun
	url = https://github.com/chenjinya/shengun.git
