[submodule "lottery-by-name"]
	path = lottery-by-name
	url = https://github.com/chenjinya/lottery-by-name.git
[submodule "television-color"]
	path = television-color
	url = https://github.com/chenjinya/television-color.git
[submodule "baidukill"]
	path = baidukill
	url = https://github.com/chenjinya/baidukill
[submodule "matrix"]
	path = matrix
	url = https://github.com/chenjinya/matrix.git
[submodule "wumai"]
	path = wumai
	url = https://github.com/chenjinya/wumai.git
[submodule "tocao"]
	path = tocao
	url = https://github.com/chenjinya/tocao.git
[submodule "shengun"]
	path = shengun
	url = https://github.com/chenjinya/shengun.git
[submodule "circle"]
	path = circle
	url = https://github.com/chenjinya/circle.git
[submodule "Loser"]
	path = Loser
	url = https://github.com/chenjinya/Loser.git
[submodule "cacabear"]
	path = cacabear
	url = https://github.com/chenjinya/cacabear.git
[submodule "rocket"]
	path = rocket
	url = https://github.com/chenjinya/rocket.git
[submodule "lottery-by-pic"]
	path = lottery-by-pic
	url = https://github.com/chenjinya/lottery-by-pic.git
[submodule "aloha"]
	path = aloha
	url = https://github.com/chenjinya/aloha.git
[submodule "qihang-fe"]
	path = qihang-fe
	url = https://github.com/chenjinya/qihang-fe.git
